Repository mongodb/mongo-go-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, check-licenses, sbom-currency

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-json
    - id: end-of-file-fixer
      exclude: ^(vendor/|bson/testdata/lorem.txt)
      exclude_types: [json,yaml]
    - id: trailing-whitespace
      exclude: ^(vendor/|internal/assert/assertions_test.go|bson/testdata/lorem.txt)
      exclude_types: [json,yaml]

- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.17
  hooks:
    - id: mdformat
      exclude: ^vendor/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.27.0
  hooks:
    - id: check-github-workflows

# We use the Python version instead of the original version which seems to require Docker
# https://github.com/koalaman/shellcheck-precommit
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
    - id: shellcheck
      name: shellcheck
      args: ["--severity=warning"]

- repo: https://github.com/codespell-project/codespell
  rev: "v2.2.6"
  hooks:
  - id: codespell
    args: ["-L", "te,fo,fle,alo,nin,compres,wil,collone,asess,sav,ot,wll,dne,nulll,hellow,aks"]
    exclude: ^(vendor/|internal/cmd/benchmark/operation_test.go|bson/testdata/)
    exclude_types: [json,yaml,pem]

- repo: https://github.com/tcort/markdown-link-check
  rev: v3.11.2
  hooks:
    - id: markdown-link-check
      exclude: ^(vendor)
      # If the endpoint returns HTTP 429 (Too Many Requests), consider it a
      # successful check.
      args: ["-a 200,206,429"]

- repo: local
  hooks:
  - id: executable-shell
    name: executable-shell
    entry: chmod +x
    language: system
    types: [shell]

  - id: golangci-lint
    name: golangci-lint
    language: system
    types: [go]
    require_serial: true
    pass_filenames: false
    entry: etc/golangci-lint.sh

  - id: check-licenses
    name: check-licenses
    language: system
    types: [go]
    entry: etc/check_license.sh

  - id: sbom-currency
    name: sbom-currency
    language: system
    files: ^(go\.mod)$
    require_serial: true
    entry: etc/generate-sbom.sh -c

redirect test output to test.suite
  Taskfile.yml
Due: none

GODRIVER-3770 Fix buffer handling in GSSAPI error description and username functions (#2297)
  x/mongo/driver/auth/internal/gssapi/gss_wrapper.c
Due: none

test: ensure output of remote tests goes to test.suite
  etc/run-oidc-remote-test.sh
  etc/run-oidc-test.sh
Due: none

GODRIVER-3540 Support Prefix/Suffix/Substring Indexes. (#2267)
  .evergreen/config.yml
  Taskfile.yml
  internal/integration/client_side_encryption_prose_test.go
  internal/spectest/skip.go
  mongo/client_encryption.go
  mongo/options/encryptoptions.go
  testdata/client-side-encryption-prose/encryptedFields-prefix-suffix.json
  x/mongo/driver/mongocrypt/mongocrypt.go
  x/mongo/driver/mongocrypt/options/mongocrypt_context_options.go
Due: golangci-lint, check-licenses

fix: keep $1 for non external env test
  Taskfile.yml
  etc/run-oidc-test.sh
Due: none

chore: formatting Dockerfile
  Dockerfile
Due: none

chore: update base image to golang 1.25.6 from 1.25.5
  Dockerfile
Due: none

fix: pin docker image to sha256 hash
  Dockerfile
Due: none

fmt
  internal/integration/client_side_encryption_prose_test.go
Due: golangci-lint, check-licenses

GODRIVER-3698 Support command logging for transactions (#2288)
  etc/govulncheck.sh
  internal/serverselector/server_selector_test.go
  internal/spectest/skip.go
  mongo/session.go
  x/mongo/driver/operation/abort_transaction.go
  x/mongo/driver/operation/commit_transaction.go
Due: golangci-lint, check-licenses

GODRIVER-3517: Convert OIDC prose test to go test (#2283)
  Taskfile.yml
  etc/run-oidc-remote-test.sh
  etc/run-oidc-test.sh
  internal/test/oidcauth/oidcauth_test.go
Due: golangci-lint, check-licenses

GODRIVER-3779: Pin docker image (#2299)
  Dockerfile
Due: none

fix: set explicit contents read permissions for top level workflow
  .github/workflows/codeql.yml
  .github/workflows/create-release-branch.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix: set pull request read permissiosn for check labels workflow
  .github/workflows/check-labels.yml
Due: none

fix: move write permissions to job level
  .github/workflows/merge-up.yml
Due: none

fix: add contents read permission to codeql workflow job
  .github/workflows/codeql.yml
Due: none

test: implement godriver 3714
  internal/test/oidcauth/oidcauth_test.go
Due: golangci-lint, check-licenses

Fix variable shadowing and deferred cancel in rttMonitor.start()
  x/mongo/driver/topology/rtt_monitor.go
Due: golangci-lint, check-licenses

GODRIVER-3777: Set improved token permissions gh actions (#2302)
  .github/workflows/check-labels.yml
  .github/workflows/codeql.yml
  .github/workflows/create-release-branch.yml
  .github/workflows/labeler.yml
  .github/workflows/merge-up.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix: pin github action versions to hashes
  .github/workflows/check-labels.yml
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  .github/workflows/scorecard.yml
  .github/workflows/test.yml
Due: none

review: remove uneeded latest tag
  .github/workflows/check-labels.yml
Due: none

review: add comments with versions
  .github/workflows/labeler.yml
  .github/workflows/test.yml
Due: none

Add TransactionRunning to Session API
  internal/integration/sessions_test.go
  mongo/session.go
Due: golangci-lint, check-licenses

GODRIVER-3793 Fix variable shadowing and deferred cancel in rttMonitor.start() (#2308)
  x/mongo/driver/topology/rtt_monitor.go
Due: golangci-lint, check-licenses

Change skip name for backpressure unified spec tests
  internal/spectest/skip.go
Due: golangci-lint, check-licenses

GODRIVER-3714: Expand OIDC machine flow testing requirements (#2303)
  internal/test/oidcauth/oidcauth_test.go
Due: golangci-lint, check-licenses

review: pin all actions
  .github/workflows/create-release-branch.yml
  .github/workflows/merge-up.yml
  .github/workflows/release.yml
Due: none

update skip list
  internal/spectest/skip.go
Due: golangci-lint, check-licenses

GODRIVER-3770 Fix buffer handling in GSSAPI error description and use… (#2304)
  x/mongo/driver/auth/internal/gssapi/gss_wrapper.c
Due: none

Update docs/migration-2.0.md
  docs/migration-2.0.md
Due: none

ci: add DefaultDocumentMap to client integration tests
  internal/integration/client_test.go
Due: golangci-lint, check-licenses

GODRIVER-3697 Add DefaultDocumentMap as Decoder Method (#2238)
  bson/decoder.go
  bson/decoder_example_test.go
  bson/decoder_test.go
  docs/migration-2.0.md
  internal/integration/client_test.go
  mongo/cursor.go
  mongo/options/clientoptions.go
Due: golangci-lint, check-licenses

chore: deprecate v1
  go.mod
Due: sbom-currency

patch release.yml
  .github/workflows/release.yml
Due: none

GODRIVER-3777: Patch release.yml (#2313)
  .github/workflows/release.yml
Due: none

Add security policy
  .github/SECURITY.md
Due: none
