Repository mongodb/mongo-go-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, check-licenses, sbom-currency

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-json
    - id: end-of-file-fixer
      exclude: ^(vendor/|bson/testdata/lorem.txt)
      exclude_types: [json,yaml]
    - id: trailing-whitespace
      exclude: ^(vendor/|internal/assert/assertions_test.go|bson/testdata/lorem.txt)
      exclude_types: [json,yaml]

- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.17
  hooks:
    - id: mdformat
      exclude: ^vendor/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.27.0
  hooks:
    - id: check-github-workflows

# We use the Python version instead of the original version which seems to require Docker
# https://github.com/koalaman/shellcheck-precommit
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
    - id: shellcheck
      name: shellcheck
      args: ["--severity=warning"]

- repo: https://github.com/codespell-project/codespell
  rev: "v2.2.6"
  hooks:
  - id: codespell
    args: ["-L", "te,fo,fle,alo,nin,compres,wil,collone,asess,sav,ot,wll,dne,nulll,hellow,aks"]
    exclude: ^(vendor/|internal/cmd/benchmark/operation_test.go|bson/testdata/)
    exclude_types: [json,yaml,pem]

- repo: https://github.com/tcort/markdown-link-check
  rev: v3.11.2
  hooks:
    - id: markdown-link-check
      exclude: ^(vendor)
      # If the endpoint returns HTTP 429 (Too Many Requests), consider it a
      # successful check.
      args: ["-a 200,206,429"]

- repo: local
  hooks:
  - id: executable-shell
    name: executable-shell
    entry: chmod +x
    language: system
    types: [shell]

  - id: golangci-lint
    name: golangci-lint
    language: system
    types: [go]
    require_serial: true
    pass_filenames: false
    entry: etc/golangci-lint.sh

  - id: check-licenses
    name: check-licenses
    language: system
    types: [go]
    entry: etc/check_license.sh

  - id: sbom-currency
    name: sbom-currency
    language: system
    files: ^(go\.mod)$
    require_serial: true
    entry: etc/generate-sbom.sh -c

GODRIVER-3898 Move the FindAndModify logic into the "mongo" package. (#2516)
  mongo/collection.go
  mongo/op_find_and_modify.go
  x/mongo/driver/operation/errors.go
  x/mongo/driver/operation/find_and_modify.go
Due: golangci-lint, check-licenses

GODRIVER-4044 Update golang.org/x/text to v0.39.0 and raise minimum Go version to 1.25
  AGENTS.md
  README.md
  Taskfile.yml
  docs/CONTRIBUTING.md
  examples/go.mod
  examples/go.sum
  go.mod
  go.sum
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/go.sum
  internal/cmd/faas/awslambda/mongodb/go.mod
  internal/cmd/faas/awslambda/mongodb/go.sum
  internal/test/compilecheck/compile_check_test.go
  internal/test/goleak/go.mod
  internal/test/goleak/go.sum
  mongo/doc.go
Due: golangci-lint, check-licenses, sbom-currency

Fix Go 1.25/1.26 lint and vet failures.
  internal/assert/assertion_compare_test.go
  internal/assert/assertion_mongo.go
  internal/assert/assertions.go
  internal/assert/difflib.go
  internal/driverutil/description.go
  internal/integration/mtest/libmongocrypt_version_enabled.go
  internal/integration/mtest/libmongocrypt_version_not_enabled.go
  internal/integration/mtest/mongotest.go
  internal/rand/rand_test.go
  internal/serverselector/server_selector.go
  mongo/collection.go
  mongo/options/createcollectionoptions.go
  mongo/options/encryptoptions.go
  mongo/options/findoptions.go
  mongo/options/indexoptions.go
  x/mongo/driver/operation/find.go
  x/mongo/driver/topology/rtt_monitor.go
Due: golangci-lint, check-licenses

GODRIVER-4044 Update golang.org/x/text to v0.39.0 and raise minimum Go version to 1.25.
  AGENTS.md
  README.md
  Taskfile.yml
  docs/CONTRIBUTING.md
  examples/go.mod
  examples/go.sum
  go.mod
  go.sum
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/go.sum
  internal/cmd/faas/awslambda/mongodb/go.mod
  internal/cmd/faas/awslambda/mongodb/go.sum
  internal/test/compilecheck/compile_check_test.go
  internal/test/goleak/go.mod
  internal/test/goleak/go.sum
  mongo/doc.go
Due: golangci-lint, check-licenses, sbom-currency

Fix compile-check Go toolchain resolution.
  internal/test/compilecheck/compile_check_test.go
Due: golangci-lint, check-licenses

Bump Go version in vulncheck
  etc/govulncheck.sh
Due: none

fix Go 1.25 lint and vet failures
  internal/assert/assertion_compare_test.go
  internal/assert/assertion_mongo.go
  internal/assert/assertions.go
  internal/assert/difflib.go
  internal/driverutil/description.go
  internal/integration/mtest/libmongocrypt_version_enabled.go
  internal/integration/mtest/libmongocrypt_version_not_enabled.go
  internal/integration/mtest/mongotest.go
  internal/rand/rand_test.go
  internal/serverselector/server_selector.go
  mongo/collection.go
  mongo/options/createcollectionoptions.go
  mongo/options/encryptoptions.go
  mongo/options/findoptions.go
  mongo/options/indexoptions.go
  x/mongo/driver/operation/create.go
  x/mongo/driver/operation/find.go
  x/mongo/driver/topology/rtt_monitor.go
Due: golangci-lint, check-licenses

fix compile-check Go toolchain resolution
  internal/test/compilecheck/compile_check_test.go
Due: golangci-lint, check-licenses

GODRIVER-3899 Move the Find logic into the "mongo" package. (#2515)
  mongo/collection.go
  mongo/op_find.go
  x/mongo/driver/operation/find.go
Due: golangci-lint, check-licenses

GODRIVER-3872: Mark Server version 4.2 as EOL
  .evergreen/config.yml
  README.md
  internal/driverutil/description.go
  mongo/collection.go
  x/mongo/driver/operation.go
  x/mongo/driver/topology/server.go
Due: golangci-lint, check-licenses

GODRIVER-4066 Fix unused imports.
  mongo/collection.go
Due: golangci-lint, check-licenses

GODRIVER-4050 Skip tests that fail due to SERVER-128517 (#2510)
  internal/spectest/skip.go
Due: golangci-lint, check-licenses

GODRIVER-4066 Fix unused imports. (#2524)
  mongo/collection.go
Due: golangci-lint, check-licenses

simplify unit tests for AWS provider
  x/mongo/driver/auth/mongodbaws_test.go
Due: golangci-lint, check-licenses

update aws test script
  etc/run-mongodb-aws-test.sh
Due: none

relocate awsauth examples
  examples/awsauth/defaultconfig/defaultconfig.go
  examples/go.mod
  examples/go.sum
  ext/awsauth/examples/go.mod
  ext/awsauth/examples/go.sum
  go.work
Due: golangci-lint, check-licenses

GODRIVER-4068 Bump Go version in vulncheck.
  etc/govulncheck.sh
Due: none

GODRIVER-3902 Move UpdateSearchIndex to the mongo package. (#2500)
  mongo/op_update_search_index.go
  mongo/search_index_view.go
  x/mongo/driver/operation/update_search_index.go
Due: golangci-lint, check-licenses

GODRIVER-3900 Move Hello into internal/handshake/operation. (#2513)
  internal/handshake/operation/hello.go
  internal/handshake/operation/hello_test.go
  x/mongo/driver/auth/auth.go
  x/mongo/driver/topology/CMAP_spec_test.go
  x/mongo/driver/topology/cmap_prose_test.go
  x/mongo/driver/topology/pool_test.go
  x/mongo/driver/topology/rtt_monitor.go
  x/mongo/driver/topology/rtt_monitor_test.go
  x/mongo/driver/topology/server.go
  x/mongo/driver/topology/topology_options.go
Due: golangci-lint, check-licenses

AWSCredentialsProvider compile check should always be in build
  Taskfile.yml
  internal/test/awsauth/aws_test.go
  internal/test/awsauth/compilecheck/main.go
Due: golangci-lint, check-licenses

GODRIVER-4069: Fix import build failure
  mongo/search_index_view.go
Due: golangci-lint, check-licenses

GODRIVER-4069: Fix import build failure (#2527)
  mongo/search_index_view.go
Due: golangci-lint, check-licenses

add copyright notice
  internal/test/awsauth/compilecheck/main.go
Due: golangci-lint, check-licenses

GODRIVER-4068 Bump Go version in vulncheck. (#2526)
  etc/govulncheck.sh
Due: none

GODRIVER-3567 Add optional AWS SDK v2-based MONGODB-AWS authenticator submodule (#2508)
  .evergreen/config.yml
  Taskfile.yml
  etc/run-mongodb-aws-test.sh
  examples/awsauth/defaultconfig/defaultconfig.go
  ext/awsauth/awsauth.go
  ext/awsauth/doc.go
  ext/awsauth/go.mod
  ext/awsauth/go.sum
  go.work
  internal/aws/credentials/credentials.go
  internal/credutil/aws_options_provider.go
  internal/integration/client_side_encryption_prose_26_test.go
  internal/test/aws/aws_test.go
  internal/test/awsauth/aws_test.go
  internal/test/awsauth/compilecheck/main.go
  internal/test/awsauth/go.mod
  internal/test/awsauth/go.sum
  mongo/client.go
  mongo/client_encryption.go
  mongo/client_examples_test.go
  mongo/options/autoencryptionoptions.go
  mongo/options/clientencryptionoptions.go
  mongo/options/clientoptions.go
  x/mongo/driver/auth/mongodbaws_test.go
  x/mongo/driver/mongocrypt/mongocrypt.go
  x/mongo/driver/mongocrypt/options/mongocrypt_options.go
  x/mongo/driver/topology/topology_options.go
Due: golangci-lint, check-licenses

GODRIVER-4017 Skip withTransaction transaction-options tests. (#2470)
  internal/spectest/skip.go
Due: golangci-lint, check-licenses

Revert "GODRIVER-4050 Skip tests that fail due to SERVER-128517 (#2510)"
  internal/spectest/skip.go
Due: golangci-lint, check-licenses

GODRIVER-4064 Skip tests that fail due to SERVER-128517 (#2525)
  internal/spectest/skip.go
Due: golangci-lint, check-licenses

GODRIVER-4080 Remove the entire "x/mongo/driver/operation" folder.
  x/mongo/driver/operation/doc.go
Due: golangci-lint, check-licenses

grammar fix
  internal/assert/assertion_compare_test.go
Due: golangci-lint, check-licenses

GODRIVER-4044 Update golang.org/x/text to v0.39.0 and raise minimum Go version to 1.25.
  AGENTS.md
  README.md
  Taskfile.yml
  docs/CONTRIBUTING.md
  examples/go.mod
  examples/go.sum
  go.mod
  go.sum
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/go.sum
  internal/cmd/faas/awslambda/mongodb/go.mod
  internal/cmd/faas/awslambda/mongodb/go.sum
  internal/test/awsauth/go.mod
  internal/test/awsauth/go.sum
  internal/test/compilecheck/compile_check_test.go
  internal/test/goleak/go.mod
  internal/test/goleak/go.sum
  mongo/doc.go
Due: golangci-lint, check-licenses, sbom-currency

fix Go 1.25 lint and vet failures
  internal/assert/assertion_compare_test.go
  internal/assert/assertion_mongo.go
  internal/assert/assertions.go
  internal/assert/difflib.go
  internal/driverutil/description.go
  internal/integration/mtest/libmongocrypt_version_enabled.go
  internal/integration/mtest/libmongocrypt_version_not_enabled.go
  internal/integration/mtest/mongotest.go
  internal/rand/rand_test.go
  internal/serverselector/server_selector.go
  mongo/collection.go
  mongo/options/createcollectionoptions.go
  mongo/options/encryptoptions.go
  mongo/options/findoptions.go
  mongo/options/indexoptions.go
  x/mongo/driver/topology/rtt_monitor.go
Due: golangci-lint, check-licenses

fix compile-check Go toolchain
  .github/workflows/codeql.yml
  AGENTS.md
  Taskfile.yml
  internal/test/compilecheck/compile_check_test.go
Due: golangci-lint, check-licenses

GODRIVER-4073 Consolidate MONGODB-AWS prose tests and select scenario from AWS_TEST
  .evergreen/run-mongodb-aws-ecs-test.sh
  Taskfile.yml
  etc/run-mongodb-aws-test.sh
  internal/test/aws/aws_test.go
  internal/test/awsauth/aws_test.go
  internal/test/awsauth/mongodb_aws_prose_test.go
Due: golangci-lint, check-licenses

GODRIVER-4073: Ensure aws tests go to test.suite
  etc/run-mongodb-aws-test.sh
Due: none

GODRIVER-4073 Run only the current scenario's prose test
  etc/run-mongodb-aws-test.sh
  internal/test/awsauth/mongodb_aws_prose_test.go
Due: golangci-lint, check-licenses

GODRIVER-4073 Run only the ECS prose test in the ECS container
  .evergreen/run-mongodb-aws-ecs-test.sh
Due: none
