Repository mongodb/mongo-go-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, check-licenses, sbom-currency

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-json
    - id: end-of-file-fixer
      exclude: ^(vendor/|bson/testdata/lorem.txt)
      exclude_types: [json,yaml]
    - id: trailing-whitespace
      exclude: ^(vendor/|internal/assert/assertions_test.go|bson/testdata/lorem.txt)
      exclude_types: [json,yaml]

- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.17
  hooks:
    - id: mdformat
      exclude: ^vendor/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.27.0
  hooks:
    - id: check-github-workflows

# We use the Python version instead of the original version which seems to require Docker
# https://github.com/koalaman/shellcheck-precommit
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
    - id: shellcheck
      name: shellcheck
      args: ["--severity=warning"]

- repo: https://github.com/codespell-project/codespell
  rev: "v2.2.6"
  hooks:
  - id: codespell
    args: ["-L", "te,fo,fle,alo,nin,compres,wil,collone,asess,sav,ot,wll,dne,nulll,hellow,aks"]
    exclude: ^(vendor/|internal/cmd/benchmark/operation_test.go|bson/testdata/)
    exclude_types: [json,yaml,pem]

- repo: https://github.com/tcort/markdown-link-check
  rev: v3.11.2
  hooks:
    - id: markdown-link-check
      exclude: ^(vendor)
      # If the endpoint returns HTTP 429 (Too Many Requests), consider it a
      # successful check.
      args: ["-a 200,206,429"]

- repo: local
  hooks:
  - id: executable-shell
    name: executable-shell
    entry: chmod +x
    language: system
    types: [shell]

  - id: golangci-lint
    name: golangci-lint
    language: system
    types: [go]
    require_serial: true
    pass_filenames: false
    entry: etc/golangci-lint.sh

  - id: check-licenses
    name: check-licenses
    language: system
    types: [go]
    entry: etc/check_license.sh

  - id: sbom-currency
    name: sbom-currency
    language: system
    files: ^(go\.mod)$
    require_serial: true
    entry: etc/generate-sbom.sh -c

Bump dependencies for security alerts
  go.mod
  go.sum
Due: sbom-currency

Reverse unintended go version bump
  go.mod
Due: sbom-currency

Address PR feedback
  bson/unmarshal_test.go
  bson/value_reader.go
Due: golangci-lint, check-licenses

rewrite with sync.Once
  bson/benchmark_test.go
Due: golangci-lint, check-licenses

revert changes in internal/cmd/benchmark/benchmark_test.go
  internal/cmd/benchmark/benchmark_test.go
Due: golangci-lint, check-licenses

Skip tests that require GODRIVER-3874.
  internal/spectest/skip.go
Due: golangci-lint, check-licenses

Revert libmongocrypt version bump
  etc/install-libmongocrypt.sh
Due: none

GODRIVER-3884 Use gpg verification for libmongocrypt windows build variant (#2404)
  Taskfile.yml
  etc/install-libmongocrypt.sh
Due: none

GODRIVER-3924 Fix bug of unmarshaling null. (#2401)
  bson/array_codec.go
  bson/default_value_decoders.go
  bson/default_value_decoders_test.go
  bson/primitive_codecs.go
  bson/primitive_codecs_test.go
  bson/unmarshal_test.go
Due: golangci-lint, check-licenses

Use global variables to replace closure.
  bson/benchmark_test.go
Due: golangci-lint, check-licenses

Revert top-level module dependency upgrades.
  go.mod
  go.sum
Due: sbom-currency

Roll back go-cmp upgrade.
  examples/go.sum
  internal/cmd/benchmark/go.sum
  internal/cmd/faas/awslambda/mongodb/go.sum
  internal/test/goleak/go.sum
Due: none

update benchmark suite
  .gitmodules
Due: none

GODRIVER-3623 Deprecate AggregateOptions Custom functionality as internal-only.
  mongo/options/aggregateoptions.go
Due: golangci-lint, check-licenses

GODRIVER-3868 Update extended bson cases. (#2400)
  bson/benchmark_test.go
  testdata/extended_bson/deep_bson.json.gz
  testdata/extended_bson/flat_bson.json.gz
  testdata/extended_bson/full_bson.json.gz
Due: golangci-lint, check-licenses

Fix SetCustom documentation wording.
  mongo/options/aggregateoptions.go
Due: golangci-lint, check-licenses

GODRIVER-3623 Deprecate AggregateOptions Custom functionality as internal-only. (#2411)
  mongo/options/aggregateoptions.go
Due: golangci-lint, check-licenses

Add prose test for pool clearing behavior during minPoolSize population.
  internal/integration/sdam_error_handling_test.go
  internal/spectest/skip.go
Due: golangci-lint, check-licenses

GODRIVER-3874 Send afterClusterTime on writes in causally-consistent sessions
  internal/integration/unified/client_operation_execution.go
  internal/integration/unified/operation.go
  internal/integration/unified/unified_spec_test.go
  mongo/client_bulk_write.go
  mongo/insert.go
  x/mongo/driver/operation.go
  x/mongo/driver/operation/create.go
  x/mongo/driver/operation/create_indexes.go
  x/mongo/driver/operation/delete.go
  x/mongo/driver/operation/drop_collection.go
  x/mongo/driver/operation/drop_database.go
  x/mongo/driver/operation/drop_indexes.go
  x/mongo/driver/operation/find_and_modify.go
  x/mongo/driver/operation/update.go
Due: golangci-lint, check-licenses

Address review comments.
  internal/integration/sdam_error_handling_test.go
Due: golangci-lint, check-licenses

Revert top-level module deps
  examples/go.sum
  go.mod
  go.sum
  internal/cmd/benchmark/go.sum
  internal/cmd/faas/awslambda/mongodb/go.sum
  internal/test/goleak/go.sum
Due: sbom-currency

Add heartbeat timeout
  internal/integration/sdam_error_handling_test.go
Due: golangci-lint, check-licenses

Potential fix for pull request finding
  internal/integration/unified/client_operation_execution.go
Due: golangci-lint, check-licenses

GODRIVER-3726 Use unmarshaling for AutoEncryptOpts in the unified spec test.
  internal/integration/unified/client_entity.go
  internal/integration/unified/entity.go
Due: golangci-lint, check-licenses

GODRIVER-3936 Migrate check_fmt.sh to a Go script under internal/cmd/check-fmt.
  Taskfile.yml
  etc/check_fmt.sh
  go.work
  internal/cmd/check-fmt/go.mod
  internal/cmd/check-fmt/go.sum
  internal/cmd/check-fmt/main.go
Due: golangci-lint, check-licenses

Lower bitfield/script version to v0.24.1
  internal/cmd/check-fmt/go.mod
  internal/cmd/check-fmt/go.sum
Due: none

GODRIVER-3904 Bump libmongocrypt to 1.19.0 and skip preview QE text test
  etc/install-libmongocrypt.sh
  internal/integration/client_side_encryption_prose_test.go
Due: golangci-lint, check-licenses

GODRIVER-3937 Deprecate x/mongo/driver/session package.
  x/mongo/driver/session/client_session.go
  x/mongo/driver/session/cluster_clock.go
  x/mongo/driver/session/doc.go
  x/mongo/driver/session/options.go
  x/mongo/driver/session/server_session.go
  x/mongo/driver/session/session_pool.go
Due: golangci-lint, check-licenses

GODRIVER-3874 Send afterClusterTime on writes in causally-consistent sessions (#2412)
  internal/integration/unified/client_operation_execution.go
  internal/integration/unified/operation.go
  internal/integration/unified/unified_spec_test.go
  mongo/client_bulk_write.go
  mongo/insert.go
  x/mongo/driver/operation.go
  x/mongo/driver/operation/create.go
  x/mongo/driver/operation/create_indexes.go
  x/mongo/driver/operation/delete.go
  x/mongo/driver/operation/drop_collection.go
  x/mongo/driver/operation/drop_database.go
  x/mongo/driver/operation/drop_indexes.go
  x/mongo/driver/operation/find_and_modify.go
  x/mongo/driver/operation/update.go
Due: golangci-lint, check-licenses

Change Go version back to 1.25.0
  go.work
  internal/cmd/check-fmt/go.mod
Due: none

Add copyright notice to internal/cmd/check-fmt/main.go
  internal/cmd/check-fmt/main.go
Due: golangci-lint, check-licenses

Run go mod tidy
  internal/cmd/check-fmt/go.mod
Due: none

GODRIVER-3904 Add CSE prose test 27 case 8
  internal/integration/client_side_encryption_prose_27_test.go
Due: golangci-lint, check-licenses

GODRIVER-3904 Add local CSE dev environment setup
  docs/CONTRIBUTING.md
  etc/libmongocrypt-pkg-config.sh
  etc/setup-cse-dev.sh
Due: none

GODRIVER-3904 Add CSE prose test 27 case 9
  internal/integration/client_side_encryption_prose_27_test.go
Due: golangci-lint, check-licenses

GODRIVER-3904 Add CSE prose test 27 case 11
  internal/integration/client_side_encryption_prose_27_test.go
Due: golangci-lint, check-licenses

GODRIVER-3904 Add CSE prose test 27 case 10
  internal/integration/client_side_encryption_prose_27_test.go
Due: golangci-lint, check-licenses

GODRIVER-3931 Fix bson.Raw.Validate panic on zero-length BSON document
  x/bsonx/bsoncore/document.go
  x/bsonx/bsoncore/document_test.go
Due: golangci-lint, check-licenses

Apply yamlfmt formatting
  .evergreen/config.yml
  .github/workflows/sbom.yml
  Taskfile.yml
Due: none
