Repository mongodb/mongo-go-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, check-licenses, sbom-currency

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-json
    - id: end-of-file-fixer
      exclude: ^(vendor/|bson/testdata/lorem.txt)
      exclude_types: [json,yaml]
    - id: trailing-whitespace
      exclude: ^(vendor/|internal/assert/assertions_test.go|bson/testdata/lorem.txt)
      exclude_types: [json,yaml]

- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.17
  hooks:
    - id: mdformat
      exclude: ^vendor/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.27.0
  hooks:
    - id: check-github-workflows

# We use the Python version instead of the original version which seems to require Docker
# https://github.com/koalaman/shellcheck-precommit
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
    - id: shellcheck
      name: shellcheck
      args: ["--severity=warning"]

- repo: https://github.com/codespell-project/codespell
  rev: "v2.2.6"
  hooks:
  - id: codespell
    args: ["-L", "te,fo,fle,alo,nin,compres,wil,collone,asess,sav,ot,wll,dne,nulll,hellow,aks"]
    exclude: ^(vendor/|internal/cmd/benchmark/operation_test.go|bson/testdata/)
    exclude_types: [json,yaml,pem]

- repo: https://github.com/tcort/markdown-link-check
  rev: v3.11.2
  hooks:
    - id: markdown-link-check
      exclude: ^(vendor)
      # If the endpoint returns HTTP 429 (Too Many Requests), consider it a
      # successful check.
      args: ["-a 200,206,429"]

- repo: local
  hooks:
  - id: executable-shell
    name: executable-shell
    entry: chmod +x
    language: system
    types: [shell]

  - id: golangci-lint
    name: golangci-lint
    language: system
    types: [go]
    require_serial: true
    pass_filenames: false
    entry: etc/golangci-lint.sh

  - id: check-licenses
    name: check-licenses
    language: system
    types: [go]
    entry: etc/check_license.sh

  - id: sbom-currency
    name: sbom-currency
    language: system
    files: ^(go\.mod)$
    require_serial: true
    entry: etc/generate-sbom.sh -c

Add updated SBOM file.
  sbom.json
Due: none

GODRIVER-3715 fix: replace golang/snappy with klauspost/compress/snappy (#2248)
  THIRD-PARTY-NOTICES
  examples/_logger/logrus/go.mod
  examples/_logger/logrus/go.sum
  examples/_logger/zap/go.mod
  examples/_logger/zap/go.sum
  examples/_logger/zerolog/go.mod
  examples/_logger/zerolog/go.sum
  go.mod
  go.sum
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/go.sum
  internal/cmd/compilecheck/go.mod
  internal/cmd/compilecheck/go.sum
  internal/cmd/faas/awslambda/mongodb/go.mod
  internal/cmd/faas/awslambda/mongodb/go.sum
  internal/test/goleak/go.mod
  internal/test/goleak/go.sum
  x/mongo/driver/compression.go
  x/mongo/driver/compression_test.go
  x/mongo/driver/testdata/compression.go
Due: golangci-lint, check-licenses, sbom-currency

remove old compilecheck test
  go.work
  internal/cmd/compilecheck/go.work
  internal/cmd/compilecheck/main.go
Due: golangci-lint, check-licenses

cleanup gitignore
  .gitignore
Due: none

remove cmd/compilecheck from Taskfile
  Taskfile.yml
  etc/compile_check.sh
Due: none

Readd script and update for the new usecase
  etc/compile_check.sh
Due: none

extract go versions into bash script and allow compile test on specific versions
  etc/run-compile-check-test.sh
  internal/test/compilecheck/compile_check_test.go
Due: golangci-lint, check-licenses

resolve build task dependency
  Taskfile.yml
Due: none

resolve deprecated BindMount function call
  internal/test/compilecheck/compile_check_test.go
Due: golangci-lint, check-licenses

Update internal/test/container/mongo.go
  internal/test/container/mongo.go
Due: golangci-lint, check-licenses

remove unwanted files
  etc/compile_check.sh
  internal/cmd/compilecheck/go.mod
  internal/cmd/compilecheck/go.sum
Due: none

inline go script and run go mod commands in container
  internal/test/compilecheck/compile_check_test.go
Due: golangci-lint, check-licenses

add docker dependency as direct dep for compilecheck
  internal/test/compilecheck/go.mod
Due: none

add missing arch to test
  internal/test/compilecheck/compile_check_test.go
Due: golangci-lint, check-licenses

Rename ErrorCodesFrom to ErrorCodes to match error interface function
  mongo/errors.go
  mongo/errors_test.go
Due: golangci-lint, check-licenses

Add optin setting to await MinPoolSize population
  internal/integration/unified/client_entity.go
  internal/integration/unified/entity.go
Due: golangci-lint, check-licenses

Parametrize search index prose test #9 for nil and empty options
  Taskfile.yml
  internal/integration/search_index_prose_test.go
Due: golangci-lint, check-licenses

GODRIVER-3704 Fix search index failure on empty "Options". (#2247)
  .evergreen/config.yml
  Taskfile.yml
  internal/integration/search_index_prose_test.go
  mongo/search_index_view.go
Due: golangci-lint, check-licenses

update unified integration
  etc/install-libmongocrypt.sh
  internal/integration/unified/client_entity.go
  internal/integration/unified/collection_data.go
  internal/integration/unified/database_operation_execution.go
  internal/integration/unified/entity.go
  internal/integration/unified/error.go
  internal/integration/unified/matches.go
  internal/integration/unified/operation.go
  internal/spectest/skip.go
Due: golangci-lint, check-licenses

update unified integration
  etc/install-libmongocrypt.sh
  internal/integration/mtest/mongotest.go
  internal/integration/unified/client_entity.go
  internal/integration/unified/collection_data.go
  internal/integration/unified/database_operation_execution.go
  internal/integration/unified/entity.go
  internal/integration/unified/error.go
  internal/integration/unified/matches.go
  internal/integration/unified/operation.go
  internal/spectest/skip.go
Due: golangci-lint, check-licenses

Add yamlfmt to pre-commit check
  .evergreen/config.yml
  .github/labeler.yml
  .github/workflows/check-labels.yml
  .github/workflows/codeql.yml
  .github/workflows/create-release-branch.yml
  .github/workflows/labeler.yml
  .github/workflows/merge-up.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/test.yml
  .golangci.yml
  .pre-commit-config.yaml
  Taskfile.yml
  internal/cmd/faas/awslambda/template.yaml
Due: none

Add additional yaml formatting using yamlls
  .evergreen/config.yml
  .github/labeler.yml
  .github/workflows/codeql.yml
  .github/workflows/merge-up.yml
  .github/workflows/scorecard.yml
  Taskfile.yml
  internal/cmd/faas/awslambda/template.yaml
Due: none

Remove uneeded architectures compile check
  internal/test/compilecheck/compile_check_test.go
Due: golangci-lint, check-licenses

Test CodeQL without compile test all
  Taskfile.yml
Due: none

create Go 1.19 compilecheck
  Taskfile.yml
Due: none

set go toolchain to auto to allow proper version to be downloaded for build
  Taskfile.yml
Due: none

Add errorCoder compile check for mongo.ServerError
  mongo/errors.go
  mongo/errors_test.go
Due: golangci-lint, check-licenses

testing
  .github/workflows/codeql.yml
Due: none

testing
  .github/workflows/codeql.yml
  Taskfile.yml
Due: none

testing
  Taskfile.yml
Due: none

Add `yamlfmt` to the pre commit check (#2262)
  .evergreen/config.yml
  .github/labeler.yml
  .github/workflows/check-labels.yml
  .github/workflows/codeql.yml
  .github/workflows/create-release-branch.yml
  .github/workflows/labeler.yml
  .github/workflows/merge-up.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/test.yml
  .golangci.yml
  .pre-commit-config.yaml
  Taskfile.yml
  internal/cmd/faas/awslambda/template.yaml
Due: none

Remove old compilecheck test
  .gitignore
  etc/compile_check.sh
  go.work
  internal/cmd/compilecheck/go.work
  internal/cmd/compilecheck/main.go
Due: golangci-lint, check-licenses
