Repository mongodb/mongo-go-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, check-licenses, sbom-currency

golangci-lint:
  name: golangci-lint
  language: system
  require_serial: true
  pass_filenames: false
  entry: etc/golangci-lint.sh

check-licenses:
  name: check-licenses
  language: system
  entry: etc/check_license.sh

sbom-currency:
  name: sbom-currency
  language: system
  require_serial: true
  entry: etc/generate-sbom.sh -c

GODRIVER-3889 Move commitTransaction and abortTransaction to the mongo package.
  mongo/op_abort_transaction.go
  mongo/op_commit_transaction.go
  mongo/session.go
  x/mongo/driver/operation/abort_transaction.go
  x/mongo/driver/operation/commit_transaction.go
Due: golangci-lint, check-licenses

Ignore .evergreen in go.mod
  go.mod
Due: sbom-currency

Ignore directories that start with '.' for license checker.
  etc/check_license.sh
Due: none

GODRIVER-4002: (review fix) update comments to reflect actual query types
  internal/integration/client_side_encryption_prose_27_test.go
Due: golangci-lint, check-licenses

GODRIVER-4002: Add substring to QE GA (#2471)
  etc/install-libmongocrypt.sh
  internal/integration/client_side_encryption_prose_27_test.go
  mongo/options/encryptoptions.go
Due: golangci-lint, check-licenses

GODRIVER-4018 Reduce allocations when building write batches
  x/mongo/driver/batches.go
  x/mongo/driver/batches_test.go
Due: golangci-lint, check-licenses

revert go version
  go.mod
  go.sum
Due: sbom-currency

revert deps version
  examples/go.sum
  internal/cmd/benchmark/go.sum
  internal/cmd/faas/awslambda/mongodb/go.sum
  internal/test/goleak/go.sum
Due: none

GODRIVER-4017 Skip withTransaction transaction-options tests. (#2470)
  internal/spectest/skip.go
Due: golangci-lint, check-licenses

Validate UncompressedSize before allocating in DecompressPayload
  x/mongo/driver/compression.go
  x/mongo/driver/compression_test.go
Due: golangci-lint, check-licenses

Address review: clarify error and add snappy oversized test
  x/mongo/driver/compression.go
  x/mongo/driver/compression_test.go
Due: golangci-lint, check-licenses

Apply suggestions from code review
  mongo/op_abort_transaction.go
  mongo/op_commit_transaction.go
Due: golangci-lint, check-licenses

update provider interface
  internal/aws/credentials/chain_provider.go
  internal/aws/credentials/chain_provider_test.go
  internal/aws/credentials/credentials.go
  internal/aws/credentials/credentials_test.go
  internal/aws/signer/v4/v4.go
  internal/credproviders/assume_role_provider.go
  internal/credproviders/ec2_provider.go
  internal/credproviders/ecs_provider.go
  internal/credproviders/env_provider.go
  internal/credproviders/imds_provider.go
  internal/credproviders/static_provider.go
  x/mongo/driver/auth/aws_sasl_adapter.go
  x/mongo/driver/auth/creds/awscreds.go
  x/mongo/driver/auth/creds/azurecreds.go
  x/mongo/driver/auth/creds/credscaching_test.go
  x/mongo/driver/auth/mongodbaws.go
  x/mongo/driver/driver.go
Due: golangci-lint, check-licenses

Potential fix for pull request finding
  etc/check_license.sh
Due: none

Use a more resilient git command to get the DET submodule revision.
  .evergreen/setup-system.sh
Due: none

fix: Preserve first writeConcernError in unordered bulk write
  mongo/bulk_write.go
Due: golangci-lint, check-licenses

GODRIVER-4026 Use cmake<4.4 for libmongocrypt build.
  etc/install-libmongocrypt.sh
Due: none

GODRIVER-4026 Use cmake<4.4 for libmongocrypt build. (#2485)
  etc/install-libmongocrypt.sh
Due: none

GODRIVER-4028 Add a TODO comment about removing the cmake version override.
  etc/install-libmongocrypt.sh
Due: none

GODRIVER-3892 Move count to the mongo package.
  mongo/collection.go
  mongo/op_count.go
  x/mongo/driver/operation/count.go
Due: golangci-lint, check-licenses

GODRIVER-3891 Remove the operation.Command type.
  internal/integtest/integtest.go
  mongo/database.go
  x/mongo/driver/auth/sasl.go
  x/mongo/driver/auth/x509.go
  x/mongo/driver/integration/compressor_test.go
  x/mongo/driver/integration/main_test.go
  x/mongo/driver/operation/command.go
Due: golangci-lint, check-licenses

GODRIVER-3890 Move aggregate to the mongo package.
  mongo/change_stream.go
  mongo/collection.go
  mongo/op_aggregate.go
  x/mongo/driver/integration/aggregate_test.go
  x/mongo/driver/integration/main_test.go
  x/mongo/driver/operation/aggregate.go
Due: golangci-lint, check-licenses

Potential fix for pull request finding
  mongo/op_aggregate.go
Due: golangci-lint, check-licenses

GODRIVER-3989 Add a drivers-evergreen-tools submodule with a pinned revision. (#2466)
  .evergreen/setup-system.sh
  .gitmodules
  etc/check_license.sh
  go.mod
Due: sbom-currency

fix: Use an alternate to the 'object-only' ls-tree option.
  .evergreen/setup-system.sh
Due: none

Potential fix for pull request finding
  etc/install-libmongocrypt.sh
Due: none

GODRIVER-4026 [release/2.8] Use cmake<4.4 for libmongocrypt build. (#2487)
  etc/install-libmongocrypt.sh
Due: none

GODRIVER-4028 Add a TODO comment about removing the cmake version override. (#2486)
  etc/install-libmongocrypt.sh
Due: none

Apply suggestions from code review
  mongo/op_count.go
Due: golangci-lint, check-licenses

fix: Use an alternate to the 'object-only' ls-tree option. (#2488)
  .evergreen/setup-system.sh
Due: none

GODRIVER-3851: Add testsfp command and Taskfile target
  Taskfile.yml
  internal/cmd/testsfp/main.go
Due: golangci-lint, check-licenses

GODRIVER-3851: Add SFP connectivity tests
  internal/test/sfp/sfp_test.go
Due: golangci-lint, check-licenses

GODRIVER-3851: Add SFP test Evergreen task and variant
  .evergreen/config.yml
Due: none

GODRIVER-3891 Remove the operation.Command type. (#2482)
  internal/integtest/integtest.go
  mongo/database.go
  x/mongo/driver/auth/sasl.go
  x/mongo/driver/auth/x509.go
  x/mongo/driver/integration/compressor_test.go
  x/mongo/driver/integration/main_test.go
  x/mongo/driver/operation/command.go
Due: golangci-lint, check-licenses

GODRIVER-3893 Move create* to the mongo package.
  mongo/database.go
  mongo/index_view.go
  mongo/op_create.go
  mongo/op_create_indexes.go
  mongo/op_create_search_indexes.go
  mongo/search_index_view.go
  x/mongo/driver/operation/create.go
  x/mongo/driver/operation/create_indexes.go
  x/mongo/driver/operation/create_search_indexes.go
Due: golangci-lint, check-licenses

Potential fix for pull request finding
  internal/cmd/testsfp/main.go
Due: golangci-lint, check-licenses

GODRIVER-3851: (review) update scripts + typo
  internal/cmd/testsfp/main.go
Due: golangci-lint, check-licenses

Path conditions:
  golangci-lint: any of: \.go$
  check-licenses: any of: \.go$
  sbom-currency: any of: ^(go\.mod)$
